[Desktop Entry]
GenericName=Nitrogen
Name=Desktop Background
Name[de]=Desktop Hintergrund
Name[ru]=Обои рабочего стола
Comment=Background browser and setter for X windows
Exec=nitrogen
Icon=nitrogen
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;

